.App {
  display: grid;
  grid-template-rows: 20px 1fr;
  grid-template-columns: 150px 1fr;
}
.App-header {
  grid-column: 1/3;
}
article {
  padding: 20px;
}

.fl-right{
  float:right;
}

.f-bole{
  font-weight: bold;
}

.f-24{
  font-size: 24px;
}

a {
  text-decoration:none; 
  color: #000;
  
}

.li-st-none{
  list-style: none;
}
